In [1]:
import pandas as pd

In [2]:
# i) Read the dataset in dataframe.
df = pd.read_csv('./Salary_Data.csv')

# ii) Display first five records.
print("First five records:")
print(df.head())

# iii) Display first ten records.
print("\nFirst ten records:")
print(df.head(10))

# iv) Display last five records.
print("\nLast five records:")
print(df.tail())

# v) Display last ten records.
print("\nLast ten records:")
print(df.tail(10))

# vi) Display the columns inside the dataset.
print("\nColumns in the dataset:")
print(df.columns)

# vii) Display shape of data.
print("\nShape of the dataset:")
print(df.shape)

# viii) Describe the dataset.
print("\nDescription of the dataset:")
print(df.describe())

# ix) Display the information about the dataset and analyze the data.
print("\nInformation about the dataset:")
print(df.info())

# x) Display types of each column.
print("\nData types of each column:")
print(df.dtypes)

# xi) Find out maximum, minimum, mean, median, standard deviation value of each column.
print("\nStatistical values of each column:")
stats = df.agg(['max', 'min', 'mean', 'median', 'std'])
print(stats)

First five records:
   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

First ten records:
   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891
5              2.9   56642
6              3.0   60150
7              3.2   54445
8              3.2   64445
9              3.7   57189

Last five records:
    YearsExperience  Salary
28             10.3  122391
29             10.5  121872
30             11.0  140000
31             12.0  155000
32             13.0  156000

Last ten records:
    YearsExperience  Salary
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872
30             11.0  140000
31             12.0  155000
32             13.0  156000

Columns in the dataset:
Index(['YearsExperience', 'Salary'], dtype='object')

Shape of the dataset:
(33, 2)

Description of the dataset:
       YearsExperience         Salary
count        33.000000      33.000000
mean          5.921212   82760.303030
std           3.342413   34014.620992
min           1.100000   37731.000000
25%           3.200000   56957.000000
50%           5.100000   67938.000000
75%           8.700000  109431.000000
max          13.000000  156000.000000

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  33 non-null     float64
 1   Salary           33 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 656.0 bytes
None

Data types of each column:
YearsExperience    float64
Salary               int64
dtype: object

Statistical values of each column:
        YearsExperience         Salary
max           13.000000  156000.000000
min            1.100000   37731.000000
mean           5.921212   82760.303030
median         5.100000   67938.000000
std            3.342413   34014.620992